/* regole generali */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

#container{
  max-width: 90%;
  margin: 2% auto;
}

.row::after{
  content: "";
  display: table;
  clear: both;
  margin-bottom: 10%;
}

/* regole header */
header{
  width: 80%;
  margin: 2% auto;
}

header img{
  width: 18%;
  height: 5%;
  margin-bottom: 4%;
  border-right: 1px solid #e5e5e5;
  padding-right: 3%;
}

.navigation>li{
  display: inline-block;
}

.navigation a{
  text-decoration: none;
  color: rgb(149, 148, 149);
}

.left{
  margin-left: 2%;
}

/* regole main */
main{
  margin-top: 5%;
}

/* regole specifiche figli row */
.imgbackground{
  background-size: cover;
  background-position: center;
  border-radius: 20px;
  width: 100%;
  height: 30vh;
}

.layouter{
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 20px;
}

.aside.left, .central{
  float: left;
  margin-right: 5%;
}

.aside.left, .central{
  width: 30%;
}

.aside.right{
  width: 20%;
  position: fixed;
  top: 15%;
  left: 75%;
}

.contenitore.editor{
  position: relative;
}

.fotoprofilo, .editorname{
  vertical-align: middle;
}

.fotoprofilo{
  width: 26px;
  height: 26px;
  border-radius: 50%;
}

.editorname{
  margin-left: 2%;
}

.central>h2,.infoarticolo, .central>p{
  margin-top: 4%;
}

.infoarticolo{
  color: rgb(206, 206, 206);
}

.articolo.left{
  padding-left: 1%;
}

.verticalline{
  border-right: 1px solid #e5e5e5;
  padding-right: 3%;
}

.central>p, .aside.right>p{
  font-weight: 100;
}

.aside.right>span{
  display: block;
}


.margin{
  margin-bottom: 7%;
}

#fotofirst{
  background-image: url("../../img/img-2.jpg");
}

#fotosecond{
  background-image: url("../../img/img-3.jpg");
}

#fotothird{
  background-image: url("../../img/img-4.jpg");
}

#fotofour{
  background-image: url("../../img/img-5.jpg");
}
